/* CSS for /projects */
:root {
  --height: 
}
body {
 background-image: url("amung.jpg");
 height: 50px;
 background-repeat: repeat;
 background-color: #000000;
}
img.icon {
 width: 13.5%;
 
}
img.g1 {
 justify-content: space-between;
 padding:0;
 margin:0;
 width: 450px;
 height: 250%;
}
img.g2 {
 justify-content: space-between;
  float:left:
  padding:0;
  margin:0;
  width: calc(100% - 1100px);
  height:250%;
}
div {
 display:block;
 float:left;
}
img.ico{ 
 padding:0;
 width:10%
}